#TempFiles for tex.
*.aux
*.ilg
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.idx
*.ind
*.toc
*.brf
*.loc
*.lof
*.pdf
*.bak
*.sav
.dropbox
desktop.ini

# Figures not to ignore.
!chap4/Fig1.pdf
!chap4/Fig2.pdf
!chap4/Fig3.pdf
!chap4/Fig4.pdf
!chap4/Fig5.pdf
!chap4/Fig6.pdf
!/media/Figs/anisotropicmodes.pdf
!/media/Figs/dipoleorientation.pdf
!/media/Figs/emissionsurfacefiber.pdf
!/media/Figs/nanofiberswg_Hmode6.pdf
!/media/Figs/FaradaySchematics.pdf
!/media/Figs/FaradaySqueezingLevelStructure.pdf
!/media/Figs/FaradayProtocol-figure*_1.pdf
