#TempFiles for tex.
*.aux
*.ilg
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.idx
*.ind
*.toc
*.brf
*.loc
*.lof
*.pdf

!chap4/Fig1.pdf
!chap4/Fig2.pdf
!chap4/Fig3.pdf
!chap4/Fig4.pdf
!chap4/Fig5.pdf
!chap4/Fig6.pdf